/*Isso Ã© um comentario*/
#container{
	/*background-color: blue; */
	
	margin: 0px auto 0px auto;
	border-color: #191970 ;
	border-style:double ;
	border-width: 10px;
}
#admin{
	text-align: center;
}

.campo-texto{
	border-width: 1px;
	border-color: black;
}

#txt_name{
	
	width: 90%; /*largura*/
	
}
#txt_codigo{
	
	width: 20%; /*largura*/
}
#txt_email{
	
	width: 70%; /*largura*/
	
}

#txt_motivo{
	width: 70%; /*largura*/
	height: 15%; /*altura*/
	
	text-align: left;

}
#txt_nomedoci{
	
	width: 70%; /*largura*/
}
#txt_datahorario{
	width: 25%; /*largura*/
	
	text-align: center;
	}
#txt_Qvagas{
	
	text-align: center ;
	width: 25%; /*largura*/

}

.centralizada{
	text-align: center;
}