 .centralizado{
	text-align: center;
}

.centralizado input{
	margin: 20px;
    border-width:3px;
    border-style:solid;
    border-color:black;

}


.teste{
	text-align: center;
	margin: 20px;
    border-width:3px;
    border-style:solid;
    border-color:black;

}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 66px;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 66px;
	border-style:solid;
    border-color:black;
}
.form-control{
    border: 3px solid black !important;
}