#container-tres{
	background-color: black;
	width: 100%;
	height: 100%;
	margin: 0px auto 0px auto;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	font-family: "Glyphicons Halflings";
	text-align: center;
}
#container-quatro{
	background-color: white;
	width: 95%;
	height: 80%;
	margin: 0px auto 0px auto;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: "Glyphicons Halflings";
	text-align: center;
}
input::-webkit-input-placeholder{
	color: white;
	font-family: "Glyphicons Halflings";
	font-size: 13px;
}
input#txt_nome{
	width: 92%;
	font-size: 15px;
	font-family: "Glyphicons Halflings";
}
input#txt_codigo{
	width: 92%;
	font-size: 15px;
	font-family: "Glyphicons Halflings";
}
input#txt_turma{
	width: 92%;
	font-size: 15px;
	font-family: "Glyphicons Halflings";
}
select#centrodeinsteresse-um{
	width: 92%;
	font-size: 15px;
	font-family: "Glyphicons Halflings";
}
select#centrodeinsteresse-dois{
	width: 92%;
	font-size: 15px;
	font-family: "Glyphicons Halflings";
}
#container{
	background-color:#d3f8f3;
	width: 80%;
	height: 100%;
	margin: 0px auto 0px auto;

	border-style: solid;
	border-width: 1px;
	text-align: center;
}
#nome {
	border-width: 0px;
	width: 92%;
}
#codigodoAluno {
	border-width: 0px;
	width: 27%;
}
#e-mail {
	border-width: 0px;
	width: 70%;
}
body {
	background-color:#d3f8f3;
}
h1 {
	color: black;
	font-family: "arial";
	font-size: 30px;
	text-align: center;
}
input:-webkit-input-placeholder{
	color: black;
	font-family: "arial";
	font-size: 30x;
	
	}
h2 {
	color: black;
	font-family: "arial";
	font-size: 14px;
}
.centralizada{
	text-align: center;
}


