-----------------------------------------------
#container-tres{
	width: 50%;
	height: 50%;
	margin: 0px auto 0px auto;
	font-family: "Glyphicons Halflings";
	text-align: center;
	background-color:#d3f8f3;
	margin: 0px auto 0px auto;
	border-color: black ;
	border-style:double ;
	border-width: 10px;
}
--------------------------------------------------
input::-webkit-input-placeholder{
	color: white;
	font-family: "Glyphicons Halflings";
	font-size: 13px;
}
--------------------------------------------------
select#centrodeinsteresse-um{
	width: 100%;
	font-size: 15px;
	font-family: "Glyphicons Halflings";
}
select#centrodeinsteresse-dois{
	width: 100%;
	font-size: 15px;
	font-family: "Glyphicons Halflings";
}
--------------------------------------------------
nome {
	border-width: 0px;
	width: 92%;
	font-size: 15px;
	border-color: black;
	font-family: "Glyphicons Halflings";
}
codigo{
	border-width: 0px;
	width: 92%;
	font-size: 15px;
	border-color: black;
	font-family: "Glyphicons Halflings";
}
e-mail{
	border-width: 0px;
	width: 92%;
	font-size: 15px;
	border-color: black;
	font-family: "Glyphicons Halflings";
}
descrição{
	border-width: 0px;
	width: 92%;
	font-size: 15px;
	border-color: black;
	font-family: "Glyphicons Halflings";
}
horario_inicio{
	border-width: 0px;
	width: 40%;
	font-size: 15px;
	border-color: black;
	font-family: "Glyphicons Halflings";
}
horario_termino{
	border-width: 0px;
	width: 40%;
	font-size: 15px;
	border-color: black;
	font-family: "Glyphicons Halflings";
}
vagas{	
	border-width: 0px;
	width: 100%;
	font-size: 15px;
	border-color: black;
	font-family: "Glyphicons Halflings";
}
orientador{	
	border-width: 0px;
	width: 100%;
	font-size: 15px;
	border-color: black;
	font-family: "Glyphicons Halflings";
}
.font-negrito{
	font-weight: bold;
}
.borda-preta{
	border-width: 1px;
	border-color: black;
}
tipo{
	width: 92%;
	font-size: 15px;
	font-family: "Glyphicons Halflings";
}
.corpo {
	background-color:#d3f8f3;
}
.centralizada{
	text-align: center;
}
-----------------------------------------------
h1 {
	color: black;
	font-family: "arial";
	font-size: 30px;
	text-align: center;
}
h2 {
	color: black;
	font-family: "arial";
	font-size: 14px;
}
-----------------------------------------------
input:-webkit-input-placeholder{
	color: black;
	font-family: "arial";
	font-size: 30x;
}